div {
  padding: 40px;
  margin: 20px;
}
.float-container {
  border: 3px solid rgb(96, 25, 209);
  padding: 0px;
  height: 50%;
  margin: 0px;
  background-color: rgb(160, 184, 206);
}
.float-container-alt {
  border: 3px solid rgb(96, 25, 209);
  padding: 0px;
  height: 50%;
  margin: 0px;
  background-color: rgb(63, 226, 30);
}
#fc1 {
  width: 40%;
  float: left;
  padding: 0px;
  border: 0px solid red;
  margin: 0px;

  background-color: rgb(112, 29, 219);
}
.float-child {
  width: 40%;
  float: left;
  padding: 0px;
  border: 0px solid red;
  margin: 0px;
  height: 50%;

  background-color: rgb(4, 22, 3);
}
.green {
  background-color: green;
  height: 10px;
}
.blue {
  background-color: blue;
}
button {
  height: 60px;
  width: 100px;
  background-color: black;
  color: aliceblue;
  margin: 50px;
}
