div {
  padding: 40px;
  margin: 20px;
}
.float-container {
  border: 3px solid rgb(96, 25, 209);
  padding: 0px;
  height: 80%;
  margin: 0px;
  background-color: rgb(160, 184, 206);
}
.float-container-alt {
  border: 3px solid rgb(96, 25, 209);
  padding: 0px;
  height: 80%;
  margin: 0px;
  background-color: rgb(63, 226, 30);
}

.float-child {
  width: 40%;
  float: left;
  padding: 20px;
  border: 2px solid red;
  margin: 20px;
  height: 80%;
  background-color: rgb(29, 212, 12);
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
button {
  height: 60px;
  width: 100px;
  background-color: black;
  color: aliceblue;
  margin: 50px;
}
